@import '~antd/dist/antd.css';

.movieContainer {
  width: 520px;
  height: 278px;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
}

.videoIsNotExistMessage {
  position: fixed;
  left: 20px;
  top: 85vh;
  * {
    color: #ffffff;
    background-color: #838383;
  }
}

@media (max-width: 520px) {
  .movieContainer {
    position: relative;
    width: 400px;
  }
}

@media (max-width: 400px) {
  .movieContainer {
    width: 350px;
  }
}

@media (max-width: 350px) {
  .movieContainer {
    width: 320px;
  }
}